@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 6s linear infinite;
}

button:hover .marquee {
    animation-play-state: paused;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}

.animate-blink {
    animation: blink 1.5s infinite;
}