@import "tailwindcss";
@plugin "daisyui";

/* Google Fonts থেকে Hind Siliguri ফন্ট ইমপোর্ট করুন */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');



.font-bengali {
    font-family: 'Hind Siliguri', sans-serif;
}


html {
    background-color: #f8f8f8;
    overflow-x: hidden;
    
}
/* index.css বা App.css */
body {
    overflow-x: hidden;
}